body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    position: relative;
    
    background: url(../images/book.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    
    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 95px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1; 
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;
    
    background-color: #fff;
}

.intro__suptitle {
    font-size: 20px;
    color: #fff;
    font-family:  'Kaushan Script', cursive;
    text-align: center;
    
}

/* Header*/
.header {
    width: 100%;
    padding-top: 30px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.header.fixed {
    padding: 10px 0;
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #eb8b8d;
}

  
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}


/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    
    
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1 linear;
}

.nav__link:hover{
    color: #fce38a;
}

.nav__link:hover:after, 
.nav__lin.active:after{
    background-color: #fce38a;
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    
    border: 3px solid #fff;
    
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: background .1s;
    linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Section */
.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.section__suptitle {
    font-family:  'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__titile {
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     font-weight: 700;
     color: #333;
}

.section__titile:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    
    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
    
}


/* About */

.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about__item {
    width: 300px;
    position: relative;
    
    background-color: #f38181;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: .3;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .1s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;
    
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    
    transition: opacity .1s linear;
    cursor: pointer;
}


/* Wedo */
.wedo {
    display: flex;
    margin:  0 -15px;
}

.wedo__item {
    width: 50%;  
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Accordion */

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}


.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%)
    rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 60px;
    position: relative;
    
    border-bottom: 1px solid transparent;
    cursor: pointer;
}


.accordion__content {
    padding: 15px 20px;
    
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


/* Section */

.section {
    padding: 80px 0;
}

.section__builder {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.section__maskot {
    font-family:  'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    padding: 15px 20px;
}

.section__mask {
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     font-weight: 700;
     color: #333;
}

.section__mask:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    
    background-color: #f38181;
}

.section__text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
     font-weight: 700;
    color: #333;
    
}


/*Contact*/

.contact {
    padding-top: 65px;
    
    background-color: #2C1A0B;
}


.con__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 65px;
}


.con__logo {
    margin-bottom: 30px;
    
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}

.con__text {
    margin-bottom: 30px;
    
    font-size: 15px;
    color: #fff;
}

/* Sub */
.sub {
    width: 100%;
    max-width: 380px;
}


.con__inner {
    padding-bottom: 65px;
}


.sub__input {
    height: 40px;
    padding: 12px;
    
    background: #fff;
    border: 1px solid #e7e7e7;
    
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.sub__input:focus{
    outline: 0;
}


.sub__input:placeholder{
    color: #ccc;
}


.sub__btn {
    height: 40px;
    cursor: pointer;
}

.sub__btn:focus{
    outline: 0;
}


/* Reg */
.reg {
    display: flex;
}


.reg__item {
    width: 50%;
}


.reg__img {
    display: block;
    max-width: 100%;
    height: auto;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


/* Acc */
.acc {
    display: flex;
    margin: 0 -30px;
}


.acc__item {
    border: 1px solid #e5e5e5;
    padding: 0 30px;
}

.acc__header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px 15px 60px;
    
    position: relative;
    
}

.acc__cont {
    padding: 15px 20px;
    
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}


.acc__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


@media (max-width: 1230px) {
    
    /*Intro*/
    .intro__suptitle {
        font-size: 40px;
    }
    
    .intro__title {
        font-size: 100px;
    }
    
}


@media (max-width: 1000px) {
    
    /*Intro*/
    .intro__suptitle {
        font-size: 20px;
    }
    
    .intro__title {
        font-size: 80px;
    }
    
}
@media (max-width: 770px) {
    
    .intro {
        min-height: 650px;
    }
    
    
       .intro__suptitle {
        font-size: 18px;
    }
    
    
    /*About*/
    .about {
        justify-content: center;
    }
    
    
    .about__item {
        width: 100%;
        max-width: 300px;
        margin-bottom: 30px;
    }
    
    
    .intro__title {
        font-size: 32px;
    }
}

/*Sub*/
.sub {
    flex-wrap: wrap;
    max-width: none;
}


.sub__input,
.sub__btn {
    width: 100%;
}






























